<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="#">Sirepal</a>
        <nav>
            <a href="#" class="active">Home</a>
            <a href="#" class="active">Service</a>
            <a href="#" class="active">About</a>
            <a href="#" class="active">Logout</a>
        </nav>
    </header>
</body>
</html>